@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html{
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5 {
  display: block;
  font-weight: 400;
}

li, span, p, a, h1, h2, h3, h4, h5 {
    color: white;
  line-height: 1;
}

p {
  display: block;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.body{
    background-color: black;
}
.flag-image{
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    vertical-align: middle;
    padding-left: 60px;
    padding-right: 60px;
}
.title-text{
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}
.conteudo{
    height: 100%;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    vertical-align: middle;
    text-align-last: center;
    vertical-align: middle;
    margin-top: 5%;
}